<a href="https://colab.research.google.com/github/earthzxc/DW/blob/master/Copy_of_Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello PyThon
## Hello PyThon
### Hello PyThon

In [0]:
print("Hello Word")

Hello Word

# Declare Variable
howto Declare Variable

In [0]:
score = 100
name = "Earth"
print("Name is " + name  + "score is "+ str(score))

Name is Earthscore is 100

In [0]:
a = 2
b = 3
c = a * b
print(c)

6

# List
how to use list Python

In [0]:
mylist = []
mylist.append("Earth")
mylist.append(200)
mylist

['Earth', 200]

How to count data in list

In [0]:
len(mylist)

2

#If-Else

In [0]:
if mylist[1] > 100:
  print("pass")

pass

In [0]:
if mylist[1] > 100:
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))

Earth 200

In [0]:
score = 5
if score > 50 :
  print("A")
elif score > 20 :
  print("à¸ºB")
else:
  print("C")
if score == 0 :
  print("F")

C

# For Loop

In [0]:
summation = []
i = 0
for i in range(0,10):
  i = i + 2
  summation.append(i)
  
for i in summation:
  print(str(i))

2
3
4
5
6
7
8
9
10
11

In [0]:
for i in summation:
  print(str(i))

2
3
4
5
6
7
8
9
10
11